fastapi
uvicorn[standard]
opencv-python-headless==4.9.0.80
python-multipart
Pillow
numpy==1.26.4
boxmot==10.0.84
asyncpg==0.29.0
shapely==2.0.4
python-dotenv==1.0.1
redis==5.0.3
pyzmq==25.1.2
msgpack==1.0.8
pydantic-settings==2.2.1
grpcio==1.64.0
grpcio-health-checking==1.64.0
protobuf==5.27.2
prometheus-client==0.20.0
